<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit, id: <%= comment.id %></title>
</head>

<body>
    <h1> Edit </h1>
    <form method="post" action='/comments/<%= comment.id%>?_method=PATCH'>
        <textarea name='newCommentText' cols="25" rows="5"><%= comment.text %></textarea>
        <br>
        <button> EDIT </button>
    </form>
    <form action="/comments/<%= comment.id %>" method="get">
        <button>RETURN</button>
    </form>
    
</body>

</html>