<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/comments" method="post">
        <input type="text" name="username" placeholder="username">
        <br>
        <textarea name="text" cols="30", rows="5" placeholder="Comment goes here"></textarea>
        <br>
        <button> SUBMIT </button>
    </form>

    <form action="/comments" method="get">
        <button> GO BACK </button>
    </form>
</body>

</html>